*{
    color: #d1d5db;
}

body {
    background-color: #111827;
}

.title {
   text-align: center
   ;
   
}

.container {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.foodname {
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;

}

.foodbox {
    display: inline-block;
    background-color: #1f2937;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 15px;
    vertical-align: top;
    border: solid;
    border-color: #374151;
}

.foodbox img {
    display: block;
    margin: 0 auto;
}