*{
    color: #d1d5db;
}

body {
    background-color: #111827;
}

.title {
   text-align: center;
   
}

a {
    font-size: large;
}

.container {
    margin-top: 100px;
}

ul {

}

.foodbox {
    display: inline-block;
    background-color: #1f2937;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    vertical-align: top;
}